@{
  Layout = "_Layout";
}
<h3>New Client</h3>

@model HairSalon.Models.Stylist
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input id="StylistId" name="StylistId" type="hidden" value = "@ViewBag.StylistId">
  <input type="submit" value="Add A New Client" class="btn btn-primary"/>
}

<p>@Html.ActionLink("Back", "Details", "Stylist", new { id = ViewBag.StylistId })</p>